{% extends 'base.html.twig' %}

{% block title %}Hello TestServiceController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>
    {# <p id="message" class="alert alert-success"></p> #}
    <div id="mercure"></div>
    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/Youness Bellaouchi/workspace/a-gile-internship/src/Controller/TestServiceController.php'|file_link(0) }}">src/Controller/TestServiceController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/Youness Bellaouchi/workspace/a-gile-internship/templates/test_service/index.html.twig'|file_link(0) }}">templates/test_service/index.html.twig</a></code></li>
    </ul>
</div>

{% endblock %}
{% block javascripts %}
<script>

//document.addEventListener('DOMContentLoaded',function(){
let url = new URL('http://localhost:3000/.well-known/mercure?topic=chat')
//url.searchParams.append('topic','/chat')
  const eventSource = new EventSource(url);
 console.log(eventSource);
eventSource.onmessage = event => {
  console.log('success');
  console.log(event.data);
  document.querySelector('h1').insertAdjacentHTML('afterend','<div class="alert alert-success">Message reçu </div>')
  window.setTimeout(()=>{
    const $alert = document.querySelector('.alert')
    $alert.parentNode.removeChild($alert)
 //   document.getElementById("message").innerHTML ="message réçu"
  }, 3000)
  window.addEventListener('beforunload' ,function(){
    if (eventSource !=null){
        eventSource.close()
    }
  })
    // Will be called every time an update is published by the server
   // console.log(JSON.parse(event.data));
}
eventSource.onerror = err => {
    console.log('error',err);
      //  document.querySelector('h1').insertAdjacentHTML('afterend' ,'<div class ="alert alert-succes">Ping !<div>')
        //window.setTimeout(()=> {
          //  const $alert = document.querySelector('.alert')
        //$alert.parentNode.removeChild($alert)},2000)
    //console.log('EventSource error: ', err);
    }
//})
</script>
{% endblock %}
