{% extends 'base.html.twig' %}

{% block title %}Hello TestServiceController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/Youness Bellaouchi/workspace/a-gile-internship/src/Controller/TestServiceController.php'|file_link(0) }}">src/Controller/TestServiceController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/Youness Bellaouchi/workspace/a-gile-internship/templates/test_service/index.html.twig'|file_link(0) }}">templates/test_service/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
